<<<<<<< HEAD

@forward 'parts/settings/colors';
@forward 'parts/settings/media'; 


@forward 'parts/general'; 
@forward 'parts/header'; 

=======

@forward 'parts/settings/colors';
@forward 'parts/settings/media'; 


@forward 'parts/general'; 
@forward 'parts/header'; 

>>>>>>> 18b68ae3d2972805f219bcda95ed105d12b0198f
@forward 'parts/footer';   