<<<<<<< HEAD
@forward 'parts/settings/colors';
@forward 'parts/settings/media'; 


@forward 'parts/general'; 
@forward 'parts/header'; 
=======
@forward 'parts/settings/colors';
@forward 'parts/settings/media'; 


@forward 'parts/general'; 
@forward 'parts/header'; 
>>>>>>> 1ee9a4a3af96d7815ed3ec7db7c902c6119409fb
@forward 'parts/footer';   