@forward 'parts/settings/colors';
@forward 'parts/settings/media'; 


@forward 'parts/general'; 
@forward 'parts/header';   
@forward 'parts/footer';
@forward 'parts/home-hero';        
@forward 'parts/bringing-the-best';       
@forward 'parts/features';         
@forward 'parts/best-products';    
@forward 'parts/cta';     
@forward 'parts/contact';        
@forward 'parts/faq';                   
@forward 'parts/policy';     