@forward 'parts/settings/colors';
@forward 'parts/settings/media'; 


@forward 'parts/general'; 
@forward 'parts/header'; 
@forward 'parts/footer';

@forward 'parts/best-products';   
@forward 'parts/bringing-the-best';   
@forward 'parts/contact';   
@forward 'parts/cta';   
@forward 'parts/faq';   
@forward 'parts/features';   
@forward 'parts/home-hero';   
@forward 'parts/home-the-best-section';   
@forward 'parts/origin';   
@forward 'parts/our-commitment';   
@forward 'parts/our-team';   
@forward 'parts/policy';   
@forward 'parts/rewards';   
@forward 'parts/values';   
@forward 'parts/cta-home';  
@forward 'parts/reels-list';  
@forward 'parts/single-product';
@forward 'parts/cart';  
@forward 'parts/collection';  

