@use 'settings/colors' as *;
@use 'settings/media' as *; 

.the-best-product {
    padding-top: 32px;
    padding-bottom: 35px;
    position: relative;
    @include break(575) {
        padding-bottom: 50px;
    }
}
.the-best-product .container {
    position: relative;
    &:before {
        content: '';
        display: block;
        height: 402px;
        width: 226px;
        background-image: url(best-prod-decor-second.svg);
        background-size: cover;
        position: absolute;
        left: -59px;
        top: calc(50% - 201px);
    }
    &:after {
        content: '';
        display: block;
        height: 402px;
        width: 226px;
        transform: rotate(180deg);
        background-image: url(best-prod-decor-second.svg);
        background-size: cover;
        position: absolute;
        right: -59px; 
        top: calc(50% - 201px);
    }
}
.the-best-product-title {
    font-size: 48px;
    line-height: 50px;
    font-weight: 400;
    color: $textColor;
    margin-bottom: 56px;
    text-align: center;
    letter-spacing: 0.5px;
    @include break(575) {
        font-size: 20px;
        line-height: 1;
        margin-bottom: 30px;
    }
}
.the-best-product-item {
    margin: 0 35px;
    @include break(767) {
        margin: 0 5px;
    }
}
.the-best-product-card {
    text-decoration: none;
}
.the-best-product-card img {
    width: 250px;
    min-width: 250px;
    @include break(1199) {
        width: 185px;
        min-width: 185px; 
    }
    @include break(767) {
        width: 170px;
        min-width: 170px;
    }
    @include break(575) {
        width: 103px;
        min-width: 103px;
    }
}
.the-best-product-card-title {
    font-family: 'Lato';
    font-size: 22px;
    font-weight: bold;
    color: $textColor;
    margin: 10px 0 5px;
    text-align: center;
    @include break(575) {
        font-size: 14px;
        margin: 10px 0 3px;
    }
}
.the-best-product-card-price {
    font-family: 'Lato';
    font-size: 18px;
    color: $textColor;
    text-align: center;
    @include break(575) {
        font-size: 14px;
    }
}
.the-best-product-slider {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    max-width: 860px;
    margin: 0 auto 30px;
    @include break(575) {
        margin-bottom: 20px;
    }
}
.the-best-product-slider.slick-slider {
    display: block;
}
.the-best-product .btn {
    padding: 8px 47px;
}
.slick-dots {
    display: flex;
    justify-content: center;
    list-style-type: none;
     margin-top: 21px;
}
.slick-dots li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    @include break(575) {
        margin-top: 0;
    }

}
.slick-dots li a {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: $dotsSlider;
}
.slick-dots li.slick-active {
    border: 1px solid $dotsSlider;
}
