@use 'settings/colors' as *;
@use 'settings/media' as *; 

.bringing-the-best {
    background-size: cover;
    position: relative;
    padding: 128px 0 116px;
    @include break(575) {
        padding: 20px 0 35px;
    }
}
.bringing-map-container {
    position: absolute;
    left: calc(50% - 720px);
    top: 0;
    z-index: 0;
    @include break(1399) {
        left: 0;
        width: 100%;
    }
}
.bringing-map-desktop {
    width: 1440px;
    @include break(1399) {
        width: 100%;
    }
    @include break(575) {
        display: none;
    }
}
.bringing-map-mobile {
    display: none;
    @include break(575) {
        display: block;
        width: 100%;
    }
}
.bringing-inner {
    position: relative;
    z-index: 1;
}
.bringing-title {
    font-size: 48px;
    line-height: 50px;
    color: $fontColorLight;
    margin-bottom: 37px;
    letter-spacing: 0.5px;
    font-weight: 400;
    text-align: center;
    @include break(575) {
        margin-bottom: 270px;
        font-size: 20px;
    }
}
.bringing-the-best-left .bringing-title {
 text-align: left;
  @include break(575) {
    font-size: 36px;
    text-align: center;
  }

}
.bringing-text {
    font-size: 19px;
    line-height: 23px;
    color: $fontColorLight;
    text-align: center;
    max-width: 556px;
    margin: 0 auto 25px;
    @include break(575) {
        max-width: 300px;
        font-size: 14px;
        margin: 0 auto 20px;    
    }
}
.bringing-text p:first-child {
    max-width: 477px;
    margin: 0 auto 4px;
}

.bringing-the-best-left .bringing-text {
 text-align: left;
 margin: 0;
 @include break(575) {
    text-align: center;
    max-width: 100%;
 }
}
.bringing-the-best-left + .bringing-map-container {
    @include break(575) {
        top: 87px;
    }
}