@use 'settings/colors' as *;
@use 'settings/media' as *; 

.collection-first-screen {
    padding: 90px 0;
    background-size: cover;
    margin-bottom: 27px;
}
.collection-first-screen-title {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 400;
    max-width: 460px;
    margin-bottom: 30px;
    color: $bgColor;
}
.first-screen-img-wrap {
    display: flex;
    align-items: center;
    gap: 20px;
}
.first-screen-img-wrap img {
    max-width: 88px;
    height: auto;
}
.collection-main {
    padding-bottom: 80px;
}
.collection-products {
     grid-template-columns: repeat(4, 1fr) !important;
    column-gap: 70px;
    row-gap: 40px;
}
.collection-bar {
    margin-bottom: 36px;
}
.collections-list {
    display: flex;
    gap: 31px;
    list-style-type: none;
}
.collections-list p,
.collections-list a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: $textColor;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(59,32,17, 0);
}
.collections-list p {
    border-bottom: 1px solid rgba(59,32,17, 0.4);
}
.collection-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.collection-bar-btn-wrap {
    display: flex;
    gap: 20px;
}