@use 'settings/colors' as *;
@use 'settings/media' as *; 

.features {
    padding: 70px 0;
    background-image: url(grid-bg.svg);
    @include break(575) {
        padding: 54px 0 50px;
    }
}
.features-inner {
    display: flex;
    gap: 53px;
    position: relative;
    @include break(1199) {
        flex-direction: column-reverse;
        align-items: center;
    }
    @include break(575) { 
        padding-top: 75px;
        gap: 20px;
    }
}
.features-content {
    max-width: 600px;
    @include break(1199) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.featuires-title {
   font-size: 48px;
   line-height: 50px;
   font-weight: 400;
   color: $textColor;
   margin-bottom: 30px; 
   @include break(1199) {
     text-align: center;
   }
   @include break(575) {
     font-size: 20px;
     line-height: 1;
     position: absolute;
     top: 0;   
   }
}
.features-text p {
  font-family: 'Lato';
  font-size: 16px;
  color: $textColor;
  margin-bottom: 50px;
  max-width: 450px;
  @include break(1199) {
     text-align: center;
   }
   @include break(575) {
     margin-bottom: 20px;
   }
}
.features .btn-wrap{
    justify-content: flex-start;
}
.features .btn-wrap a {
    width: 163px;
}
.features-prod {
    display: flex;
    position: relative;
    width: 514px;
    height: 415px;
    align-items: center;
    justify-content: flex-end;
    @include break(575) {
        width: 305px;
        height: 260px;
    }
}

.features-prod-img {
    position: absolute;
    left: 0;
    @include break(575) {
      width: 188px;  
    }
}
.features-prod-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include break(575) {
        gap: 7px;
    }
}
.features-prod-item {
    background-image: url(feature-item-bg.svg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 13px 10px 13px 85px;
    width: 305px;
    height: 64px;
    @include break(575) {
        background-image: url(feature-item-bg-mob.svg);
        width: 196px;
        height: 40px;
        padding: 8px 7px;
    }
}
.features-prod-item img {
    max-width: 35px;

}
.features-prod-item p {
    font-family: 'Lekton';
    font-size: 18px;
    color: $featuresColor;
    line-height: 19px;
    font-weight: bold;
    @include break(575) {
        font-size: 12px;
        line-height: 13px;
    }
}
.features-prod-item:last-child p {
    display: flex;
    gap: 10px;
    @include break(575) {
        gap: 5px;
    }
}
.features-prod-item:last-child span:first-child {
    max-width: 75px;
}
.features-prod-item:last-child span:last-child {
    @include break(575) {
        padding-top: 13px;
    }
}
.features-prod-item span:nth-child(2) {
    font-size: 40px;
    line-height: 40px;
    @include break(575) {
        font-size: 32px;
        line-height: 32px;
    }
}