@use 'settings/colors' as *;
@use 'settings/media' as *; 

.hero {
   overflow: hidden;
    background-size: cover;
}

.hero-inner {
    height: calc(100dvh - 80px);
    display: flex;
    align-items: flex-end;
    padding: 100px 0;
    @include break(575) {
        align-items: center;
        justify-content: center;
    }
}
.homepage-hero-title {
    max-width: 575px;
    font-weight: 400;
    font-size: 48px;
    line-height: 50px;
    color: $fontColorLight;
    @include break(575) {
        font-size: 29px;
        line-height: 29px;
        text-align: center;
        max-width: 256px;
    }
}