@use 'settings/colors' as *;
@use 'settings/media' as *; 

.team {
    padding: 70px 0;
    @include break(575) {
        padding: 40px 0 50px;
    }
}
.team-title h2 {
    font-size: 48px;
    line-height: 50px;
    font-weight: 500;
    color: $teamTitle;
    text-align: center;
    margin-bottom: 30px;
    @include break(575) {
        margin-bottom: 5px;
    }
}
.team-title strong {
    font-weight: 500;
    @include break(575) {
        display: block;
        font-size: 20px;
    }
}
.team-text {
    max-width: 745px;
    margin: 0 auto 30px;
    @include break(575) {
        margin-bottom: 12px;
    }
}
.team-text p {
    font-family: 'Lato';
    font-size: 18px;
    line-height: 100%;
    color: $teamTitle;
    text-align: center;
    @include break(575) {
        font-size: 14px;
    }
}
.team-inner {
    display: flex;
    gap: 30px 5px;
    justify-content: center;
    margin-bottom: 33px;
    @include break(991) {
        flex-wrap: wrap;
    }
    @include break(575) {
        gap: 26px 11px;
        margin-bottom: 26px;
    }
}
.team-item img {
    width: 220px;
    height: 207px;
    margin-bottom: 5px;
    @include break(575) {
        width: 162px;
        height: 152px;
        margin-bottom: 9px;
     }

}
.team-name {
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    color: $teamTitle;
    text-align: center;
     @include break(575) {
        font-size: 14px;
        font-weight: 400;
     }
   
}
.team-text-2 {
    max-width: 745px;
    margin: 0 auto;
}
.team-text-2 p {
    font-family: 'Lato';
    font-size: 18px;
    line-height: 100%;
    color: $teamTitle;
    text-align: center;
    @include break(575) {
        font-size: 14px;
    }
}