@use 'settings/colors' as *;
@use 'settings/media' as *; 

.team {
    padding: 70px 0;
}
.team-title {
    font-size: 48px;
    line-height: 50px;
    font-weight: 500;
    color: $teamTitle;
    text-align: center;
    margin-bottom: 30px;
}
.team-text {
    max-width: 745px;
    margin: 0 auto 30px;
}
.team-text p {
    font-family: 'Lato';
    font-size: 18px;
    line-height: 100%;
    color: $teamTitle;
    text-align: center;
}
.team-inner {
    display: flex;
    gap: 30px 5px;
    justify-content: center;
    margin-bottom: 33px;
    @include break(991) {
        flex-wrap: wrap;
    }
}
.team-item img {
    width: 220px;
    height: 207px;
    margin-bottom: 5px;

}
.team-name {
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    color: $teamTitle;
    text-align: center;
   
}
.team-text-2 {
    max-width: 745px;
    margin: 0 auto;
}
.team-text-2 p {
    font-family: 'Lato';
    font-size: 18px;
    line-height: 100%;
    color: $teamTitle;
    text-align: center;
}