@use 'settings/colors' as *;
@use 'settings/media' as *; 

.single-product {
    padding-top: 52px;
}
.single-product .image {
    width: auto;
}
.single-product-inner {
    display: flex;
    gap: 25px;
}
.product-images-container {
    display: flex;
    gap: 25px;
}
.product-media-thumb,
.product-thumb-image {
    width: 177px;
    height: 159px;
    border: 2px solid $textColor;
    border-radius: 10px;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
     &::before { 
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
}
.product-media-thumbs .product-thumb-image {
    display: flex;
    justify-content: center;
    border: 2px solid $borderCard;
    
    &:not(:last-child) {
        margin-bottom: 8px;
    }
}
.product-media-thumbs .product-thumb-image.active {
    border: 2px solid $textColor !important;
}
.product-media-thumb video,
.product-thumb-image img {
    height: 122px !important;
    width: auto !important; 
}
.product-media-main .product-main-image {
    display: flex;
    justify-content: center;
    padding: 50px;
    width: 572px;
    height: 500px;
}
.product-media-main {
    width: 572px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid #000;
}
.prod-main-page-bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.product-media-main .product-main-image video,
.product-media-main .product-main-image img {
    max-width: 301px;
    width: auto;
    height: auto;
    max-height: 396px;
}
.product-breadcrumbs {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}
.product-breadcrumbs a,
.product-breadcrumbs span {
    color: $teamTitle;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}
.product-breadcrumbs a:hover {
    text-decoration: underline;
}
.single-product-title {
    font-family: 'Weiss';
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product-content p,
.product-short-desc {
    font-family: 'Lato';
    font-size: 16px;
    color: $teamTitle;
}
.product-content h2 {
    font-family: 'Lato';
    font-size: 24px;
    line-height: 25px;
    color: $teamTitle;
    margin: 36px 0 5px;

}
.product-content .single-product-price {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: $teamTitle;
    margin-bottom: 20px;
}
.product-form {
    margin-top: 20px;
}
.product-form form {
    display: flex;
    align-items: center;
    gap: 10px;
}
.quantity-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 50px;
    border: 1px solid $btnDarkColor;
    background-color: $bgColor;
    width: 118px;
    height: 44px;
   
}
.quant-minus,
.quant-plus {
    font-weight: bold;
     font-family: 'Lato';
    font-size: 20px;
    color: $btnDarkColor;
    cursor: pointer;
}
.quantity-wrap input {
    width: 38px;
    font-family: 'Lato';
    font-size: 20px;
    color: $btnDarkColor;
    border: none;
    background-color: $bgColor;
    text-align: center;
}
.product-form select {
    border-radius: 50px;
    border: 1px solid $btnDarkColor;
    background-color: $bgColor;
    width: 118px;
    height: 44px;
    padding: 0 12px;
    font-family: 'Lato';
    font-size: 20px;
    color: $btnDarkColor;
}