@use 'settings/colors' as *;
@use 'settings/media' as *; 

.our-values {
    background-color: $secondColor;
    padding: 40px 0 59px;
    background-image: url(value-bg.png);
    background-size: 367px;
    background-repeat: no-repeat;
    background-position: top 31px right;
    position: relative;
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: $fontColorLight;
        position: absolute;
        top: 165px;
        left: 0;
    }
}
.our-values-title {
    font-size: 48px;
    line-height: 50px;
    font-weight: 500;
    color: $fontColorLight;
    margin-bottom: 30px;
} 
.our-values-inner {
    display: flex;
    gap: 50px;
}
.our-values-col {
    width: 262px;
}
.our-values-col-title {
    font-family: 'Lekton';
    color: $fontColorLight;
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 400;

}
.our-values-col-text p {
    font-family: 'Lato';
    font-size: 18px;
    line-height: 120%;
    font-weight: 400;
    color: $fontColorLight;
    text-align: justify;
}