@use 'settings/colors' as *;
@use 'settings/media' as *; 

.cta {
    padding: 170px 0 150px;
    background-image: url(cta-bg.jpg);
    background-size: cover;
}
.cta-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cta-title {
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 30px;
    font-weight: 400;
    color: $bgColor;
    max-width: 638px;

}
.cta-text p{
  font-family: 'Lato';
  color: $bgColor;
  font-size: 18px;
  max-width: 638px;
}
.cta-buttons {
    display: flex;
    gap: 20px;
}
.cta-buttons a {
    width: 163px;
}