@use 'settings/colors' as *;
@use 'settings/media' as *; 

.features {
    padding: 70px 0;
    background-image: url(grid-bg.svg);
}
.features-inner {
    display: flex;
    gap: 53px;
}
.features-content {
    max-width: 603px;
}
.featuires-title {
   font-size: 48px;
   line-height: 50px;
   font-weight: 400;
   color: $textColor;
   margin-bottom: 30px; 
}
.features-text p {
  font-family: 'Lato';
  font-size: 16px;
  color: $textColor;
  margin-bottom: 50px;
  max-width: 450px;
}
.features .btn-wrap{
    justify-content: flex-start;
}
.features-prod {
    display: flex;
}