@use 'settings/colors' as *;
@use 'settings/media' as *; 

.features {
    padding: 70px 0;
    background-image: url(grid-bg.svg);
}
.features-inner {
    display: flex;
    gap: 53px;
}
.features-content {
    max-width: 603px;
}
.featuires-title {
   font-size: 48px;
   line-height: 50px;
   font-weight: 400;
   color: $textColor;
   margin-bottom: 30px; 
}
.features-text p {
  font-family: 'Lato';
  font-size: 16px;
  color: $textColor;
  margin-bottom: 50px;
  max-width: 450px;
}
.features .btn-wrap{
    justify-content: flex-start;
}
.features-prod {
    display: flex;
    position: relative;
    width: 514px;
    height: 415px;
    align-items: center;
    justify-content: flex-end;
}

.features-prod-img {
    position: absolute;
    left: 0;
}
.features-prod-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.features-prod-item {
    background-image: url(feature-item-bg.svg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    padding: 13px 10px;
    width: 305px;
    height: 64px;
}
.features-prod-item p {
    font-family: 'Lekton';
    font-size: 18px;
    color: $featuresColor;
    line-height: 19px;
    text-align: right;
}
.features-prod-item:last-child p {
    display: flex;
    gap: 10px;
}
.features-prod-item:last-child span:first-child {
    max-width: 75px;
}
.features-prod-item span:nth-child(2) {
    font-size: 40px;
    line-height: 40px;
}