@use 'settings/colors' as *;
@use 'settings/media' as *; 

.features {
    padding: 70px 0;
    background-image: url(grid-bg.svg);
}
.features-inner {
    display: flex;
    gap: 53px;
}
.features-content {
    max-width: 603px;
}
.featuires-title {
   font-size: 48px;
   line-height: 50px;
   font-weight: 400;
   color: $textColor;
   margin-bottom: 30px; 
}
.features-text p {
  font-family: 'Lato';
  font-size: 16px;
  color: $textColor;
  margin-bottom: 50px;
  max-width: 450px;
}
.features .btn-wrap{
    justify-content: flex-start;
}
.features-prod {
    display: flex;
}
.features-prod-item {
    background-image: url(feature-item-bg.svg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 305px;
    height: 62px;
}
.features-prod-item p {
    font-family: 'Lekton';
    font-size: 18px;
    color: $featuresColor;
}