@use 'settings/colors' as *;
@use 'settings/media' as *; 

.shopify-section-group-footer-group {
    display: block;
}
.footer {
    background-image: url(footer-bg.jpg);
    padding-top: 60px;
}
.footer-inner {
    display: flex;
    gap: 22px;
}