@use 'settings/colors' as *;
@use 'settings/media' as *; 

.shopify-section-group-footer-group {
    display: block;
}
.footer {
    background-image: url(footer-bg.jpg);
    padding-top: 60px;
}
.footer .container {
    width: 1350px;
}
.footer-inner {
    display: flex;
    gap: 22px;
}
.footer-logo {
    display: block;
    height: auto;
    width: 575px;
}
.footer-images {
    min-width: 726px;
}
.footer-image {
    width: 726px;
    height: auto;
}
.footer-row {
    display: flex;
    justify-content: space-between;
}
.footer-col,
.footer__links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-title,
.footer-col a {
    font-family: 'Lato', sans-serif;
    color: $fontColorLight;
    font-size: 18px;
    text-decoration: none;
}
.footer-title {
    font-weight: 400;
    text-transform: uppercase;
} 
.footer-col:nth-child(3) .footer-title {
    margin-bottom: 24px;
}
.footer-row:first-child {
    margin-bottom: 97px;
}
.footer-row:nth-child(2) {
    margin-bottom: 82px;
}