@use 'settings/colors' as *;
@use 'settings/media' as *; 

.shopify-section-group-footer-group {
    display: block;
}
.footer {
    background-image: url(footer-bg.jpg);
    padding-top: 60px;
}
.footer-inner {
    display: flex;
    gap: 22px;
}
.footer-logo {
    display: block;
    height: auto;
    width: 575px;
}
.footer-image {
    width: 726px;
    height: auto;
}
.footer-row {
    display: flex;
    justify-content: space-between;
}
.footer-col {
    display: flex;
    flex-direction: column;
    
}