@use 'settings/colors' as *;
@use 'settings/media' as *; 

.shopify-section-group-header-group {
    display: block; 
}
header {
    display: block; 
    background-color: $secondColor;
}
.header-inner {  
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .header-inner .header__menu {
    display: flex;
    gap: 35px;
    @include break(1199) {
        display: none; 
    }
}
.link-login,
.header__menu a {
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: $fontColorLight;
}
.header-wrap {
    display: flex;
    gap: 80px;
}
.header-icons {
    display: flex;
    align-items: center;
    gap: 35px;
}
.burger {
    display: none;
    @include break(1199) {
        display: block;
    }
}
.mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 20px 18px;
    background-color: $secondColor;
}
.mobile-menu-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    height: 95dvh;
}
.mobile-menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}
.mobile-menu-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.mobile-menu-main>a {

}
.mobile-menu-footer {
    display: flex;
    align-items: center;
    gap: 20px;
}