@use 'settings/colors' as *;
@use 'settings/media' as *; 

.shopify-section-group-header-group {
    display: block; 
}
header {
    display: block; 
    background-color: $secondColor;
}
.header-inner {  
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .header-inner .header__menu {
    display: flex;
    gap: 35px;
}
.header__menu a {
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: $fontColorLight;
}
