@use 'settings/colors' as *;
@use 'settings/media' as *; 

.shopify-section-group-header-group {
    display: block;
}
header {
    display: block;
    background-color: $secondColor;
}
.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}