@use 'settings/colors' as *;
@use 'settings/media' as *; 

.policy-section {
    background-image: url(policy-bg.jpg);
    background-size: cover;
    padding-top: 85px;
}
.policy-section-inner {
    background-image: url(policy-decor.svg);
    background-size: 100% 100%;
    padding: 87px 61px 20px 67px;
    width: 925px;
    margin: 0 auto;
}
.policy-section-tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 74px;
}
.policy-tab-link {
    font-size: 24px;
    text-transform: uppercase;
    color: $textColor;
    text-decoration: none;
}
p.policy-tab-link {
    border-bottom: 2px solid $textColor;

}
.policy-block-title {
    font-family: 'Lato';
    font-weight: bold;
    font-size: 24px;
    border-bottom: 2px solid $textColor;
    margin-bottom: 26px;
    color: $textColor;
}

.policy-block-text {
    font-family: 'Lato';
    font-size: 18px;
    padding-left: 24px;
    color: $textColor;
    margin-bottom: 70px;
}