<footer class="footer">
  <div class="footer-inner">
  <div class="footer__copyright">
   
  </div>

  <div class="footer__links">
    {% for link in section.settings.footer-menu-1.links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </div>

  
</footer>


{% schema %}
{
  "name": "t:general.footer",
  "settings": [
    {
      "type": "link_list",
      "id": "footer-menu-1",
      "label": "t:labels.menu"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "t:labels.show_payment_icons",
      "default": true
    }
  ]
}
{% endschema %}
