<section class="hero">
  <h1>{{ section.settings.title }}</h1>
</section>

{% schema %}
{
  "name": "Hello World2",
  "settings": [],
  "presets": [
    {
      "name": "Hello World Template2",
      "category": "Demo"
    }
  ]
}
{% endschema %}