
$bgColor: #FEFFF4;
$secondColor: #31251E;
$fontColorLight: #E8E3CE;
$btnHover: #685347;
$textColor: #3B2011;
$btnDarkColor: #59331E;
$featuresColor: #644E36;
$dotsSlider: #303D17;
$borderCard: #846F3E;
$teamTitle: #1A220B;
$quoteText: #B6A06E;