@mixin break($point) {
    @if $point == 1399 {
      @media only screen and (max-width: 1439px) { @content; }
    }
    @else if $point == 1199 {
      @media only screen and (max-width: 1199px) { @content; }
    }
    @else if $point == 991 {
      @media only screen and (max-width: 991px) { @content; }
    }
    @else if $point == 767 {
      @media only screen and (max-width: 767px) { @content; }
    }
    @else if $point == 575 {
      @media only screen and (max-width: 575px) { @content; }
    }
  }